* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img {
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 10px;
}

header {
    display: flex;
    min-height: 60px;
    padding: 0 10px;
    background: #292961;
}

.logo {
    display: block;
    max-width: 40px;
    padding: 10px 0;
}

header ul {
    margin-left: auto;
    padding-left: 10px;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: block;
    padding: 21px 10px;
    font-size: 16px;
    color: #fff;
    transition: .3s;
}

header ul li a:hover {
    background: #41417b;
}

main {
    flex-grow: 1;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 
        min-content 
        min-content 
        auto 
        min-content 
        min-content;
    grid-template-areas:
        'a a a b b b b b b c c c'
        'd d d d d d e e f f f f'
        'g g g g h h h h i i i i'
        'j j j j j j k k k l l l'
        'm m m m m m m m m m m m';
}

@media screen and (max-width: 767px){
    main {
        grid-template-rows: 
            min-content 
            min-content
            min-content
            auto 
            min-content 
            min-content;
        grid-template-areas:
        'a a a a a a b b b b b b'
        'c c c c c c c c c c c c'
        'd d d d e e e e f f f f'
        'g g g g h h h h i i i i'
        'j j j j k k k k l l l l'
        'm m m m m m m m m m m m';
    }
}

.item1  {grid-area: a;}
.item2  {grid-area: b;}
.item3  {grid-area: c;}
.item4  {grid-area: d;}
.item5  {grid-area: e;}
.item6  {grid-area: f;}
.item7  {grid-area: g;}
.item8  {grid-area: h;}
.item9  {grid-area: i;}
.item10 {grid-area: j;}
.item11 {grid-area: k;}
.item12 {grid-area: l;}
footer {
    grid-area: m;
    padding: 10px;
    font-size: 12px;
    color: #fefefe;
    text-align: center;
    background: #292961;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item10,
.item11,
.item12 {
    background: #ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2 ul li {
    display: inline-block;
}

.item2 ul li a {
    display: block;
    padding: 5px 10px;
    font-size: 16px;
    color: #000;
    transition: .3s;
}

.item2 ul li a:hover {
    background: #10a8fe;
}

.item3 input {
    outline: none;
    width: 100%;
    height: 34px;
    padding: 5px 10px;
    border: none;
    border-radius: 17px;
    background: #fff;
}

.item3 input::placeholder {
    color: #ccc;
    font-size: 12px;
    transition: .3s;
}

.item3 input:focus::placeholder {
    font-size: 0;
}

.item7 ,
.item8 ,
.item9 {
    overflow: hidden;
}

.item7 img,
.item8 img,
.item9 img {
    height: 100%;
    width: auto;
    object-fit: cover;
}